@page
@using LibraryWebApp.Properties
@{
}

<div class="mainBox">
  <div class="row">
    <div class="col-md-2 ">
    </div>
    <div class="col-md-9 bookBox">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <div class="col-md-12">
            <i class="fas fa-book-open fa-2x"> @Resources.pageTitleBorrowedBookList </i>
          </div>
          <table class="borrowedTable table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">@Resources.borrowTableTitle</th>
                <th scope="col">@Resources.borrowTableAuthor</th>
                <th scope="col">Borrow Start Date</th>
                <th scope="col">Borrow End Date</th>
                <th scope="col">Book Type</th>
                <th scope="col">Discount</th>
                <th scope="col">@Resources.borrowTablePrice</th>
              </tr>
                @foreach (var book in ViewBag.Books)
                {
                    <tr>
                        <th>@book.title</th>
                        <th>@book.author</th>
                        <th>@book.borrowStartDate.ToString("MM/dd/yyyy")</th>
                        <th>@book.borrowEndDate.ToString("MM/dd/yyyy")</th>
                        <th>@book.bookType</th>
                        <th>@book.discountOnItemId</th>
                        <th>@book.price</th>
                    </tr>
                }
            </thead>
            <tbody id="tableBody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
