@page
@using LibraryWebApp.Properties
@{
}
<!DOCTYPE html>
<html>

<head>
	<title>Books Searching</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<div class="mainBox" style="background-color: #eee;>
<div class="top text-white bg-dark pt-3">
	<div class = ml-3 pt-3>
		<i class="fas fa-book-open fa-2x">Search book in library</i>
	</div>
	<div class = "ml-3 py-3">
		<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
		<input type="search" id ="search" class="form-control" placeholder="Search..." aria-label="Search">
		</form>
		<form class="boxButtons" method="post" action="@Url.Action("SearchBookByCategories")">
		<select class="selectpicker" title="-- Select an event" id="bookType" name = "bookType">
			<option value="0">All</option>
			<option value="1">Books</option>
			<option value="2">Comic books</option>
			<option value="3">Magazine</option>
		</select>
    
		<select class="selectpicker" title="-- Select a user" id="bookCategory" name = "bookCategory" multiple>
			<option value="0">All</option>
			<option value="1">Romance</option>
			<option value="2">Thriller</option>
			<option value="3">Fantasy</option>
			<option value="4">Tutorials</option>
			<option value="5">Drama</option>
			<option value="6">Novel</option>
			<option value="7">Fiction</option>
		</select>
		    <button class="btn btn-dark" type="submit">Search</button>
		</form>
	</div>
</div>

 <div class="row">
    @{ var counter = 1; }
	@foreach (var book in ViewBag.Books)
	{
	<div class = "boxElement col-sm-12 col-md-6 col-xl-4">
		<div class="container py-5">
			<div class="row justify-content-center">
				<div class="">
					<div class="card text-black">
						<div class = " text-center pt-3">
							<img class = "card-img-top img-thumbnail img" src = "/Resources/cover_@(book.id).jpg">
						</div>
						<div class="card-body">
							<div class="text-center">
								<h5 class="card-title">@book.title</h5>
								<p class="text-muted mb-4">@book.name @book.surname</p>
							</div>
							<div>
								<div class="d-flex justify-content-between">
									<span>Status</span><span>@book.status</span>
								</div>
								<div class="d-flex justify-content-between">
									<span>Price</span><span>@book.price zł</span>
								</div>
							</div>
							<div class="col text-center">
								<form class="boxButtons" method="post" action="@Url.Action("AddToCart")">
								<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Modal@(book.id)">Details</button>
								<input type="hidden" value=@book.id name="bookId">
								<input type="submit" class="btn btn-dark" value="Add to cart">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="Modal@(book.id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">@book.title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Publication date: @book.publicationDate.ToString("MM/dd/yyyy")</p>
						<p>Category: @book.type (@book.category)</p>
						<p>Status: @book.status</p>
						<p>@book.description</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
								<form class="boxButtons" method="post" action="@Url.Action("AddToCart")">
								<input type="submit" class="btn btn-dark" value="Add to cart">
								<input type="hidden" value=@book.id name="bookId">
								</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	            if (counter % 3 == 0)
            {
                @:</div><div class="row">
            counter = 0;
            }
            counter++;
	}
</div>
</div>
</div>
</html>