@page
@using LibraryWebApp.Properties
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IHttpContextAccessor httpContextAccessor
@{
}
<!DOCTYPE html>
<html>

<head>
	<title>Books Searching</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<div class="card mb-3">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-font">
	  <li><a asp-controller="BooksSearching" asp-action="Index" class="breadcrumb-item active pl-2 fas fa-book fa-lg pt-2"> Home </a></li>

  </ol>
</nav>
</div>


<div class = "card pl-3">
	<h3>Book Of The Day</h3>
	<div class="container">
		<div class="row">
			<div class="row m-0 p-0">
				<div class="col-2 col-md-2">
					<div class = "pb-4">
						<div>
							<img class="img-carousel" src = "/Resources/cover_@(@ViewBag.BOTD._id).jpg" alt="Biggest Stem Cells Conference">
						</div>
						<form class="boxButtons d-flex justify-content-center pt-3" method="post" action="@Url.Action("AddToCart", "BooksSearching")">
						<input type="hidden" value=@ViewBag.BOTD._id name="bookId">
						<input @(@ViewBag.KeepedCount < 3 ? null : "disabled") type="submit" class="btn btn-secondary btn-lg" value="Add to cart">
						</form>
					</div>
				</div>
				<div class="col-10 col-md-10">
					<h4 class="g-color-black mb-3">@ViewBag.BOTD._title - @ViewBag.BOTD._name @ViewBag.BOTD._surname</h4>
					<h5 class="g-color-black mb-3"><s>Original _price: @ViewBag.BOTD._price zł</s></h5>
					<h5 class="g-color-black mb-3 text-success">Price after discount: @ViewBag.BOTD._priceAfterDiscount zł</h5>
					<p>@ViewBag.BOTD._description</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card py-3">
	<div class="pl-4">
		<i class="fas fa-book-open fa-2x"> Search book in library</i>
	</div>
	<div class = "card-body">
		<form class="boxButtons row g-4" method="post" action="@Url.Action("SearchBookByCategoriesAndInput", "BooksSearching")">
		 <div class="col-auto">
		<select class="selectpicker" title="--Select a type" id="bookType" name = "bookType">
			<!option value="0"  @(@HttpContextAccessor.HttpContext.Session.GetString("bookType").Contains("0") ? "selected" : null) >All (Type)</!option>
			<!option value="1"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookType").Contains("1") ? "selected" : null) >Books</!option>
			<!option value="2"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookType").Contains("2") ? "selected" : null) >Comic books</!option>
			<!option value="3"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookType").Contains("3") ? "selected" : null) >Magazine</!option>
		</select>
		 </div>
		 <div class="col-auto">
		<select class="selectpicker" title="-- Select a category" id="bookCategory" name = "bookCategory" multiple>
			<!option value="0"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("0") ? "selected" : null) >All (Category)</!option>
			<!option value="1"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("1") ? "selected" : null) >Romance</!option>
			<!option value="2"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("2") ? "selected" : null) >Thriller</!option>
			<!option value="3"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("3") ? "selected" : null) >Fantasy</!option>
			<!option value="4"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("4") ? "selected" : null) >Tutorials</!option>
			<!option value="5"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("5") ? "selected" : null) >Drama</!option>
			<!option value="6"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("6") ? "selected" : null) >Novel</!option>
			<!option value="7"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("7") ? "selected" : null) >Fiction</!option>
		</select>
		</div>
		<div class="col-auto">
			<input type="text" class="form-control fa fa-search" id="searchInput" name="searchInput" value = "@HttpContextAccessor.HttpContext.Session.GetString("searchInput").Substring(1,@HttpContextAccessor.HttpContext.Session.GetString("searchInput").Length-2)" placeholder="Type title or author"> 
		</div>
		<div class="col-auto">
			<button class="btn btn-secondary" type="submit">Search</button>
		</div>
		</form>
	</div>
</div>

 <div class="row">
    @{ var counter = 1; }
	@foreach (var book in ViewBag.Books)
	{
	<div class = "boxElement">
		<div class="container">
			<div class="row justify-content-center">
					<div class="card text-black best-height">
						<div class = "text-center pt-1">
							<img class = "img-card" src = "/Resources/cover_@(book.id).jpg">
						</div>
						<div class="card-body">

							<div class="text-center card-details inline-direction">
								@if(@book.rate > 0)
								{
									<span class="fa fa-star  @(@book.rate < 1 ? null : "checked")"></span>
									<span class="fa fa-star  @(@book.rate < 2 ? null : "checked")"></span>
									<span class="fa fa-star  @(@book.rate < 3 ? null : "checked")"></span>
									<span class="fa fa-star  @(@book.rate < 4 ? null : "checked")"></span>
									<span class="fa fa-star  @(@book.rate < 5 ? null : "checked")"></span>
								}
								else
								{
									<span class="fa fa-star unchecked"></span>
									<span class="fa fa-star unchecked"></span>
									<span class="fa fa-star unchecked"></span>
									<span class="fa fa-star unchecked"></span>
									<span class="fa fa-star unchecked"></span>
								}
							</div>

							<div class="text-center card-details">
								<h5 class="card-title">@book.title</h5>
								<p class="text-muted">@book.name @book.surname</p>
							</div>
							<div>
								<div class="d-flex justify-content-between">
									<span>Status</span><span>@book.status</span>
								</div>

								@if(book.priceAfterDiscount > 0)
								{
								<div class="d-flex justify-content-between">
									<span>Price</span><span><s>@book.price zł</s></span>
								</div>
								 <div class = "d-flex justify-content-between text-success font-weight-bold">
									<span>Discounted</span><span>@book.priceAfterDiscount zł</span>
								</div>
								}
								else 
								{
								<div class="d-flex justify-content-between">
									<span>Price</span><span>@book.price zł</span>
								</div>
								 <div class = "d-flex justify-content-between disable">
									<span>Discounted</span><span>@book.priceAfterDiscount zł</span>
								</div>
								}
							</div>
							<div class="">
								<form class="boxButtons d-flex" method="post" action="@Url.Action("AddToCart", "BooksSearching")">
								<button type="button" class="btn btn-secondary btn-sm mr-1" data-bs-toggle="modal" data-bs-target="#Modal@(book.id)">Details</button>
								<input type="hidden" value=@book.id name="bookId">
								<input @(@ViewBag.KeepedCount < 3 ? null : "disabled") type="submit" class="btn btn-secondary btn-sm" value="Add to cart">
								</form>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="modal fade" id="Modal@(book.id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">@book.title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Publication date: @book.publicationDate.ToString("dd/MM/yyyy")</p>
						<p>Category: @book.type (@book.category)</p>
						<p>Status: @book.status</p>
						<p>@book.description</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<form class="boxButtons" method="post" action="@Url.Action("BorrowNow", "BooksSearching")">
								<input @(@ViewBag.KeepedCount < 3 ? null : "disabled") type="submit" class="btn btn-secondary" value="Borrow now">
								<input type="hidden" value=@book.id name="bookId">
								</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	        if (counter % 5 == 0)
            {
                @:</div><div class="row">
            counter = 0;
            }
            counter++;
	}
</div>
</div>
</div>
</html>