@page
@using LibraryWebApp.Properties
@using Microsoft.AspNetCore.Http
@model DatabaseConnection.Models.BookDetails
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IHttpContextAccessor httpContextAccessor
@{
}
<!DOCTYPE html>
<html>

<head>
	<title>Books Searching</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<div class="card mb-3">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-font">
	  <li><a asp-controller="BooksSearching" asp-action="Index" class="breadcrumb-item active pl-2 fas fa-book fa-lg pt-2"> Home </a></li>

  </ol>
</nav>
</div>


<div class = "card pl-3">
	<h3>Book Of The Day</h3>
	<div class="container">
		<div class="row">
			<div class="row m-0 p-0">
				<div class="col-2 col-md-2">
					<div class = "pb-4">
						<div>
							<img class="img-carousel" src = "/Resources/cover_@(@ViewBag.BOTD._id).jpg" alt="Biggest Stem Cells Conference">
						</div>
						<form class="boxButtons d-flex justify-content-center pt-3" method="post" action="@Url.Action("AddToCart", "BooksSearching")">
						<input type="hidden" value=@ViewBag.BOTD._id name="bookId">
						<input @(@ViewBag.KeepedCount < 3 ? null : "disabled") type="submit" class="btn btn-secondary btn-lg" value="Add to cart">
						</form>
					</div>
				</div>
				<div class="col-10 col-md-10">
					<h4 class="g-color-black mb-3">@ViewBag.BOTD._title - @ViewBag.BOTD._name @ViewBag.BOTD._surname</h4>
					<h5 class="g-color-black mb-3"><s>Original price: @string.Format("{0:C}", @ViewBag.BOTD._price)</s></h5>
					<h5 class="g-color-black mb-3 text-success">Price after discount: @string.Format("{0:C}", @ViewBag.BOTD._priceAfterDiscount)</h5>
					<p>@ViewBag.BOTD._description</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card py-3">
	<div class="pl-4">
		<i class="fas fa-book-open fa-2x"> Search book in library</i>
	</div>
	<div class = "card-body">
		<form class="boxButtons row g-4" method="post" action="@Url.Action("SearchBookByCategoriesAndInput", "BooksSearching")">
		 <div class="col-auto">
		<select class="selectpicker" title="--Select a type" id="bookType" name = "bookType">
			<!option value="0"  @(@HttpContextAccessor.HttpContext.Session.GetString("bookType").Contains("0") ? "selected" : null) >All (Type)</!option>
			<!option value="1"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookType").Contains("1") ? "selected" : null) >Books</!option>
			<!option value="2"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookType").Contains("2") ? "selected" : null) >Comic books</!option>
			<!option value="3"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookType").Contains("3") ? "selected" : null) >Magazine</!option>
		</select>
		 </div>
		 <div class="col-auto">
		<select class="selectpicker" title="-- Select a category" id="bookCategory" name = "bookCategory" multiple>
			<!option value="0"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("0") ? "selected" : null) >All (Category)</!option>
			<!option value="1"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("1") ? "selected" : null) >Romance</!option>
			<!option value="2"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("2") ? "selected" : null) >Thriller</!option>
			<!option value="3"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("3") ? "selected" : null) >Fantasy</!option>
			<!option value="4"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("4") ? "selected" : null) >Tutorials</!option>
			<!option value="5"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("5") ? "selected" : null) >Drama</!option>
			<!option value="6"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("6") ? "selected" : null) >Novel</!option>
			<!option value="7"	@(@HttpContextAccessor.HttpContext.Session.GetString("bookCategory").Contains("7") ? "selected" : null) >Fiction</!option>
		</select>
		</div>
		<div class="col-auto">
			<input type="text" class="form-control fa fa-search" id="searchInput" name="searchInput" value = "@HttpContextAccessor.HttpContext.Session.GetString("searchInput").Substring(1,@HttpContextAccessor.HttpContext.Session.GetString("searchInput").Length-2)" placeholder="Type title or author"> 
		</div>
		<div class="col-auto">
		</div>
		</form>
	</div>
</div>

<div id= "booksRow">
</div>

</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		const query =()=> {
			var searchInput = $("#searchInput").val();
			var bookType = $("#bookType").val();
			var bookCategory = $("#bookCategory").val();
			console.log(searchInput);
			$.ajax({
				type:"Post",
				url: "/BooksSearching/PartialSearch?searchInput=" + searchInput + '&bookType=' + bookType + '&bookCategory=' + bookCategory,
				contentType: "html",
				success: function (response) {
					$("#booksRow").html(response);
				}
			})
		}
		query();
		document.querySelectorAll(".selectpicker").forEach((element)=> {element.addEventListener("change",query)});
		document.querySelector("#searchInput").addEventListener('input', query);
	})
</script>

</html>