@*
*@
@{
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
	<head>
		<title>Shopping Cart</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body>
<div class="card mb-3">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-font">
	  <li><a asp-controller="BooksSearching" asp-action="Index" class="breadcrumb-item pl-2 fas fa-book fa-lg pt-2"> Home </a></li>
	  <li><a asp-controller="Cart" asp-action="Index" class="breadcrumb-item active pl-2 h5 pt-1">> Cart </a></li>
  </ol>
</nav>
</div>


		<form class="boxButtons" method="post" action="@Url.Action("Checkout","Cart")">
		<main class="page">
			<section class="shopping-cart dark">
				<div class="container">
					<div class="block-heading">
						<h2>Library Cart</h2>
						<p>It is a library basket. You can choose the period to borrow the book. If the book is unavailable, you can reserve it for the available date.</p>
					

					<div class="d-block content emploPanel" data-p = @HttpContextAccessor.HttpContext.Session.GetInt32("Role")>
					<h4>Employee panel</h4>
					<div class="d-inline ml-5 black-text">
					<span>Choose user:</span>

					<select class="selectpicker" title="-- Select user" id="userLogin" name = "otherUserId">
					@{
					foreach (var user in ViewBag.Users)
					{
						<option value=@user.Id>@user.login</option>
					}
					}
					</select>

					</div>
					</div>


					</div>
					<div class="content">
						<div class="row">
							<div class="col-lg-8">
								<div class="items">
									@if (ViewBag.BooksInCart != null)
									{
										@foreach (var book in ViewBag.BooksInCart)
										{
											<div class="product pl-3 pt-3">
												<div class="row">
													<div class="col-lg-3">
														<img class="img-card" src = "/Resources/cover_@(book._Id).jpg">
													</div>
													<div class=" product-name col-lg-3">
														<div class="product-name">
															<a>@book._Title</a>
															<div class="product-info">
																<div>Author: <span class="value">@book._Author</span></div>
																@if(book._PriceAfterDiscount > 0)
																{
																	<div>Price: <span class="value"><s> @string.Format("{0:C}", @book._Price)</s></span></div>
																	<div>After discount: <span class="value h6">  @string.Format("{0:C}", @book._PriceAfterDiscount)</span></div>
																}
																else
																{
																	<div>Price: <span class="value">@string.Format("{0:C}", @book._Price)</span></div>
																	<div class="disable">After discount: <span class="value h6">@string.Format("{0:C}", @book._PriceAfterDiscount)</span></div>
																}
															</div>
														</div>
													</div>
													<div class = "product-name col-lg-4">
														<div>
															<div>
																<a for="date">Start date</a>
																<input type="text" class="form-control datepicker" id="startDatapicker_@(book._Id)" placeholder="Date" name="startDate" value=@book._BorrowStartDate>
															</div>
															<div>
																<a for="date">End date</a>
																<input type="text" class="form-control datepicker" id="endDatapicker_@(book._Id)" placeholder="Date" name="endDate" value=@book._BorrowEndDate>
															</div>
																@if(book._Info != ""){
																	<div class="alert alert-danger h6" role="alert">
																	 @Html.Raw(@book._Info)
																	</div>
																}
														</div>
													</div>
													<div class="col-lg-2">
														<a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-bookToDelete=@book._Id data-bs-toggle="tooltip" data-bs-placement="top" title="Delete this item from cart" class="fas fa-trash fa-lg text-secondary"></a>
													</div>
												</div>
											</div>
										}
									}
									else
									{
										<div class="block-heading pt-5">
											<h2>Your cart is empty!</h2>
										</div>
									}
								</div>
							</div>
							<div class="col-md-12 col-lg-4">
								<div class="summary">
									<h3>Summary</h3>
									<div class="summary-item"><span class="text">Subtotal</span><span class="price"> @string.Format("{0:C}", @ViewBag.Subtotal)</span></div>
									<div class="summary-item"><span class="text">Discount</span><span class="price"> @string.Format("{0:C}",@ViewBag.Discount)</span></div>
									<div class="summary-item"><span class="text">Cash penalty</span><span class="price"> @string.Format("{0:C}", @ViewBag.CashPenalty)</span></div>
									<div class="summary-item"><span class="text">Total</span><span class="price"> @string.Format("{0:C}", @ViewBag.Total)</span></div>
									<button class="btn btn-secondary btn-lg btn-block" type="submit">Checkout</button>
									<a asp-controller="Cart" asp-action="RemoveAllFromCart" class="btn btn-secondary btn-lg btn-block my-5">Clear cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		</form>
	</body>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript">
		var datesForDisable = ["08-5-2021", "08-10-2021", "08-15-2021", "08-20-2021"]

		$('.datepicker').datepicker({
			format: 'dd.mm.yyyy',
			autoclose: true,
			todayHighlight: true,
			datesDisabled: datesForDisable
		});

		const emploPanel = document.querySelector(".emploPanel")
		if(emploPanel.dataset.p != "2"){
		    emploPanel.remove()
		}

		$('#inputID').bind("input", function(){
		var value = $(this).val();
		$('#datalistSelected').val(value);
})
	</script>
</html>